
.navbar-brand span {
    font-size: 2rem; /* bigger brand name */
  }

.navbar-nav .nav-link {
    font-size: 1.5rem;
    text-align: center;
    margin-right: 1.5rem;
}
.d-flex .btn{
      color: #aaff8b !important;
}

